<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

<form action="http://localhost:5000/auth" method="post">
    Username<br>
    <input type="text" name="username"><br>
        Password<br>
    <input type="password" name="password"><br>
    <input type="submit" value="LogIn" name="submitter">
</form>
</body>
</html>