<!DOCTYPE html>
<html lang="en">
	<head>
		<title> ورود به هنوز بی نام</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<style>
			@import url('https://fonts.googleapis.com/css?family=Harmattan|Lalezar');
		</style>
	</head>
<body>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

<!-- Banner -->
			<section style="font-family: 'lalezar', cursive;" id="banner">
				<h2><strong>هنوز بی نام</strong></h2>
				<p>مسابقه بسازید و خودتون برنده بشید</p>
			</section>


		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2 style="font-family:'Harmattan', sans-serif; ">ورود به سایت</h2>
					</header>
					<form style="font-family:'Harmattan', sans-serif; " class="grid-form" method="post" action="http://localhost:5000/auth" method="post">
                        نام کاربری<br>
                        <input type="text" name="username"><br>
                        کلمه ی عبور<br>
                        <input type="password" name="password"><br>
						<ul class="actions">
							<li><input type="submit" value="ورود" name="submitter"></li>
						</ul>
					</form>
				</div>
			</section>

            <section id="two2" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2 style="font-family:'Harmattan', sans-serif; ">عضویت در سایت</h2>
					</header>
					<form style="font-family:'Harmattan', sans-serif; " class="grid-form" method="post" action="http://localhost:5000/signup_check" method="post">
                        ایمیل<br>
                        <input type="text" name="email" ><br>
                        نام کاربری<br>
                        <input type="text" name="username"><br>
                        کلمه ی عبور<br>
                        <input type="password" name="password"><br>
						<ul class="actions">
							<input type="submit" value="ثبت نام"></li>
						</ul>
					</form>
				</div>
			</section>


</body>
</html>