<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp for free</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<br>
<form action="http://localhost:5000/signup_check" method="post">
    Email:
    <input type="text" name="email" ><br>
    Username:
    <input type="text" name="username"><br>
    Password:
    <input type="password" name="password"><br>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>